Arun Kumar Joshi <nikhil.joshi92@gmail.com>
Emanuele Ziglioli <zigliolie@sirtrack.com>
Java Cloud <javacloud@salesforce.com>
John Simone <jsimone@salesforce.com>
Manoj Cheenath <mcheenath@salesforce.com> <manoj.cheenath@gmail.com>
Manoj Cheenath <mcheenath@salesforce.com> manojcheenath <mcheenath@salesforce.com>
Naaman Newbold <nnewbold@salesforce.com>
Don Robertson <drobertson@salesforce.com>
Hal Hildebrand <hal.hildebrand@me.com> <hellblazer@me.com>
Hal Hildebrand <hal.hildebrand@me.com> hellblazer <hal.hildebrand@me.com>
Doug Dew <ddew@salesforce.com> Doug <ddew@salesforce.com>
Doug Dew <ddew@salesforce.com> dougdew <dougdew@mac.com>
Ron Yang <ryang@salesforce.com> ryang <ryang@salesforce.com>
Ron Yang <ryang@salesforce.com> ryang-sfdc <ryang.sfdc@gmail.com>
Zuck Li <diracz@gmail.com> diracz <zli@zli-ltm1.internal.salesforce.com>