Arun Kumar Joshi <nikhil.joshi92@gmail.com>
Emanuele Ziglioli <zigliolie@sirtrack.com>
Java Cloud <javacloud@salesforce.com>
John Simone <jsimone@salesforce.com>
Manoj Cheenath <mcheenath@salesforce.com> <manoj.cheenath@gmail.com>
Manoj Cheenath <mcheenath@salesforce.com> manojcheenath <mcheenath@salesforce.com>
Naaman Newbold <nnewbold@salesforce.com>